@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: MarveleScript;
  src: url("./MervaleScript-Regular.ttf");
}

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #282828;
}
